In [6]:
import pandas as pd

data=pd.read_excel("C:\\Users\\manis\\Desktop\MIT_Python\\stores.xlsx")
data.head()

,Name,Address,City,State,State_name,Zip,Sales,Number_emp,Empsiz
0,SCENTSIBILITIES,750 MAIN ST,BOYLSTON,MA,Massachusetts,1505,115,1,A
1,MODEL DAIRY,469 MAIN ST,BOYLSTON,MA,Massachusetts,1505,115,1,A
2,DUNKIN' DONUTS,270 SHREWSBURY ST,BOYLSTON,MA,Massachusetts,1505,840,15,C
3,MOBILE STATION,22 MAPLE AVE,SHREWSBURY,MA,Massachusetts,1545,896,4,A
4,HORTON'S SUPER MARKET,117 CLINTON ST,SHREWSBURY,MA,Massachusetts,1545,494,2,A

In [7]:
data['Sales'].count()

4644

In [9]:
data[['Sales','Number_emp']].sum()

Sales         12135284
Number_emp       67802
dtype: int64

In [10]:
data['Sales'].mode()

0    896
dtype: int64

In [12]:
data['Sales'].head()

0    115
1    115
2    840
3    896
4    494
Name: Sales, dtype: int64

In [18]:
data['AvSales']=data['Sales'].mean()
data['AvSales'].mean()

2613.1102497844777

In [19]:
data['Sales'].var()

90496392.13817707

In [20]:
data['Sales'].std()

9512.959168322814

In [21]:
data['Sales'].max()

345800

In [22]:
data['Sales'].min()

0

In [25]:
data['Sales'].min()

0

In [23]:
data['Sales'].idxmax() # ROw number

3812

In [24]:
data['Sales'].idxmin()

288

In [37]:
import matplotlib.pyplot as plt
from gurobipy import *